/*
* SITE FOOTER STYLES AND STRUCTURE
*/

// SITE FOOTER WRAPPER \\

.site-footer {
    background: $color__test-grey;
    padding: 1.25rem;
    min-height: 6.25rem;
    display: grid;
    align-content: center;
    justify-content: center;
}
