/*
* SITE HEADER STYLES AND STRUCTURE
*/

// SITE HEADER WRAPPER \\
.header-wrapper {
    position: absolute;
    width: 100%;
    display: grid;
    justify-content: center;
    border-bottom: 1px solid $color__border-abbr;
    background: white;
}

// SITE HEADER \\
.site-header {
    padding: 0 1.25rem;
    grid-gap: 1.25rem;
    display: grid;
    align-items: center;
    grid-template-areas:
        "social social"
        "brand nav"
        "brand nav";  
    width: $size__query-screen;            
}

.social-icons {
    transition: 1s;
    grid-area: social;
    font-size: 1.5rem;
    
    ul {
        margin: 0;
        padding: .625rem 0;
        list-style: none;
        display: grid;
        grid-template-columns: repeat(auto-fit, 100px);
        justify-content: center;
        grid-gap: .625rem;        
        text-align: center;
    }

    &::after {
        display: block;
        content: '';
        height: 1px;
        background: linear-gradient(to left, transparent, $color__border-abbr, transparent);

    }
} 

// SITE BRANDING \\

.site-branding {
    >* {
        margin: 0;
    }
    grid-area: brand;
    display: grid;
    grid-template-columns: 3.75rem 1fr;
    grid-column-gap: 2rem;
    grid-template-areas:
    "logo sitename"
    "logo tagline";
}

// Logo \\
.custom-logo-link {
    grid-area: logo;
    align-self: center;

    img {
        -webkit-filter: drop-shadow(0 0 1px rgba(0,0,0,5) );
        filter: drop-shadow(0 0 1px rgba(0,0,0,.5) );    
    }
}

// Title \\

.site-title {
    grid-area: sitename;
    align-self: end;
    display: grid;
    justify-content: start;
    font-size: $font__site-title-size;
    font-weight: $font__site-title-weight;
    line-height: 2rem;
    z-index: 1;
}

// Tagline \\

.site-description {
    grid-area: tagline;
    align-self: start;
    display: grid;
    justify-content: start;
}

// MEDIA QUERIES \\
@media screen and (max-width: $size__query-screen) {
    .site-header {
        width: $size__query-tab;

        align-items: center;
        grid-template-areas:
            "social social"
            "brand ."
            "brand ."
            "nav nav";  
    }
}

@media (max-width: $size__query-tab) {
    .site-header {
        width: $size__query-land;
    }

    .social-icons {
        display: none;
    }
}

@media screen and (max-width: $size__query-land) {
    .site-header {
        width: 100vw - 2;
    } 

    .site-branding {
        grid-template-columns: 1fr;
        grid-template-areas:
        "sitename"
        " . ";
        .custom-logo-link, 
        .site-description { 
            display: none;
        }
    }

}