/*
* SITE HEADER STYLES AND STRUCTURE
*/

// SITE HEADER WRAPPER \\
.header-wrapper {
    display: grid;
    justify-content: center;
}


// SITE HEADER \\
.site-header {
    background: $color__test-grey;
    padding: 0 20px;
    grid-gap: 20px;
    display: grid;
    align-items: center;
    grid-template-areas:
        "social social"
        "brand nav"
        "brand nav";  
    width: 1000px;            
}

.social-icons {
    transition: 1s;
    grid-area: social;
    font-size: 1.5em;
    
    ul {
        margin: 0;
        padding: 10px 0;
        list-style: none;
        display: grid;
        grid-template-columns: repeat(auto-fit, 100px);
        justify-content: center;
        grid-gap: 10px;
        text-align: center;
    }

    &::after {
        display: block;
        content: '';
        height: 1px;
        background: linear-gradient(to left, transparent, $color__test-grey, transparent);

    }
} 

// SITE BRANDING \\

.site-branding {
    >* {
        margin: 0;
    }
    grid-area: brand;
    display: grid;
    grid-template-columns: 60px 1fr;
    grid-column-gap: 30px;
    grid-template-areas:
    "logo sitename"
    "logo tagline";
}

// Logo \\
.custom-logo-link {
    grid-area: logo;
}

// Title \\

.site-title {
    grid-area: sitename;
    align-self: end;
    display: grid;
    justify-content: start;
    
    font-size: $font__site-title-size;
    font-weight: $font__site-title-weight;
}

// Tagline \\

.site-description {
    grid-area: tagline;
    align-self: start;
    display: grid;
    justify-content: start;
}

// MEDIA QUERIES \\
@media (max-width: $size__query-screen) {
    .site-header {
        width: $size__query-tab;

        align-items: center;
        grid-template-areas:
            "social social"
            "brand ."
            "brand ."
            "nav nav";  
    }
}

@media (max-width: $size__query-tab) {
    .site-header {
        width: $size__query-land;
    }
}

@media (max-width: $size__query-land) {
    .site-header {
        width: $size__query-mobile;
    }
}