/*
* SITE CONTENT STYLES AND STRUCTURE
*/

// SITE CONTENT WRAPPER \\
.content-wrapper {
	padding-top: 165px;
	display: grid;
	margin: 0 auto;
}

.banner-wrapper {
	margin-top: -1px;
	display: grid;
	grid-template-columns: 100%;
	border-bottom: 1px solid $color__border-abbr;
}

// SITE CONTENT BANNER \\
.banner-area {
	padding: 0 1.25rem;
    grid-gap: 1.25rem;
	display: grid;
}
.breadcrumbs-wrapper {
	padding: 0 1.25rem;
	display: grid;
	grid-gap: 1.25rem;
	grid-template-columns: 100%;
	width: $size__query-screen; 
	margin: 0 auto;
	font-size: .9rem;
}

.breadcrumbs {
	line-height: 2.6rem;
}

// SITE CONTENT CONTAINER\\
.site-content {
	padding: 0 1.25rem;
    grid-gap: 1.25rem;
	display: grid;
	grid-template-columns: 1fr minmax(16rem, 18.75rem);
	grid-template-areas: "content aft";
	justify-content: center;
	width: $size__query-screen; 
	margin: 0 auto;           
}

// CONTENT \\	
.content-area {
	grid-area: content;
}

// SIDEBAR \\
aside.widget-area {
	grid-area: aft;
}

.widget.widget_search {
	display: none;
}

.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

// MEDIA QUERIES \\
@media screen and (max-width: $size__query-screen) {
	.site-content,
	.breadcrumbs-wrapper {
		width: $size__query-tab;
	}
	
	.site-content {
		grid-template-columns: 100%;
		grid-template-areas: 
		"content" 
		"aft";
	}

	.widget.widget_search {
		display: block;
	}

}

@media screen and (max-width: $size__query-tab) {
	.content-wrapper {
		padding-top: 108px;
	}
	.site-content,
	.breadcrumbs-wrapper {
		width: $size__query-land;		
	}
}

@media screen and (max-width: $size__query-land) {
	.content-wrapper {
		padding-top: 73px;
	}
    .site-content,
	.breadcrumbs-wrapper {
		width: 100vw - 2;
	} 
}