.site {
    display: grid;
    grid-gap: 20px;
}

.site-header {
    align-self: start;

    &::before {
        display: none;
    }
    display: grid;

    .site-branding {
        display: grid;
        grid-template-columns: 150px 1fr;
        align-items: center;
        justify-content: start;
    }

    .main-navigation {
        background: rgba(0,0,0,0.1);
        ul {
            display: grid;
            grid-template-columns: repeat(5, auto);

            li {
                padding: 10px;            
                text-align: right;
                font-size: 15px;
                font-weight: 600;
                font-family: "Montserrat", sans-serif;
                text-transform: uppercase;
                letter-spacing: .45px;
                line-height: 85px;
            }
        }
    }
}

.site-content {

}

.site-footer {
    align-self: end;
}