.site {
    display: grid;
    grid-gap: 20px;
}

.site-header {
    &::before, {
        display: none;
    }

    display: grid;
    grid-gap: 20px;
    grid-template-areas:
        "brand brand nav nav nav"
        "brand brand nav nav nav";
    
    .site-branding {
        grid-area: brand;
        display: grid;
        grid-template-columns: 150px 1fr;
        grid-template-areas:
        "logo sitename"
        "logo tagline";

        .custom-logo-link {
            grid-area: logo;
            width: 150px;
        }
    
        .site-title {
            grid-area: sitename;
            align-self: end;
            display: grid;
            justify-content: start;
            
        }
    
        .site-description {
            grid-area: tagline;
            align-self: start;
            display: grid;
            justify-content: start;
        }
    
    }

    .main-navigation {
        grid-area: nav;
        align-self: center;
    }
}

.site-content {

}

.site-footer {
    
}